@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');   /*Google Fonts*/

body {
    background: linear-gradient(45deg, #000428, #004e92);
}

.btn-save {
    background-color: #004e92;
}

.btn-save:hover {
    background-color: #000428;
}

.btn-reset {
    background-color: #e74c3c;
}

.btn-reset:hover {
    background-color: #c0392b;
}

.text-blue-600 {
    color: #3498db;
}

.border-blue-500 {
    border-color: #3498db;
}

.focus:border-blue-500:focus {
    border-color: #3498db;
    box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.5);
}

